<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
    <div class="nav-bar"></div>
    <div class="cart">Cart({{ cart }})</div> <!--Se llama al método Cart-->
    <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image"><!-- Forma de llamar a imagen de la data en main-->
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <!-- <h1>{{ product }}</h1> -->
            <h4>{{ description }} </h4>
            <p v-if="onSale">{{ saleMessage }}</p>
            <p v-if="inventory > 10">In Stock</p>  <!-- el v-if mostrará esto si el atributo es true en main-->
            <p v-else>Out of Stock</p><!-- el v-else mostrará esto si es lo contrario-->
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div class="color-circle" :style="{ backgroundColor: variant.color }" v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)"></div>
            <button class="button" @click="addToCart"  :class="{ disabledButton: !inStock }" :disabled="!inStock" v-on:click="addToCart">Add to Cart</button> <!--v-on: o @-->
            <button class="button" @click="removeToCart">Remove to Cart</button> <!--v-on: o @-->
          </div>
        </div>
      </div>
    </div>
    <!-- Import Js -->
    <script src="./main.js"></script>
  </body>
</html>
